body{
    margin: 0px;
    padding: 0px;
    background-image:linear-gradient(rgba(0,0,0,0.5)),url("img/bg.jpg") ;
    /* background-image:linear-gradient(rgba(62, 54, 54, 0.5)),url("img/bg.jpg") ; */
    opacity: 0,5;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    min-width: 400px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
header{
  display: inline;
}

nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* opacity: 0.8; */
    border-bottom:2px solid #3E3636 ;
    padding-top: 5px;
    backdrop-filter: blur(7px);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    box-shadow: 0 0 40px ;
    
}

nav h1{
    /* justify-content: left; */
    display: block;
    color: #D72323;
    margin-left: 10px;
}

ul, li {
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    color: white;
    padding: 0 15px;
    
}
ul {
    list-style:none;
    display: block;
   
    /* position: absolute;
    right: 15px;
    top: 10px; */
}
a {
    color: #D72323;
    text-decoration: none;
}
a:hover{
    color: red;
}

#futdev{
    width: 40%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 40px ;
    /* border: 2px solid #F5EDED; */
    border-radius: 20px;
    text-align: center;
}
#futdev img{
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    box-shadow: 0 0 25px #D72323;
    /* padding-top: 20px; */
    border-radius: 50%;

  }

#futdev img:hover{
    transition: transform .2s;
    transform: scale(1.1);
}

#futdev p{
    color: gray;
    text-shadow: 0 0 5px #D72323;
    padding:0 0 20px 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
} 

.sec{
    width: 50%;
    background-color:#F5EDED;
    margin: 35px 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F5EDED;
    border-radius: 15px;
    box-shadow: 0 0 40px ;
}
h3{
    padding: 10px;
    padding-bottom: 0;
}
.sec p{
    padding: 10px;
}

.container-1 {
  /* width: 100%; */
  display:flex;
  /* column-gap: 20px;
  grid-template-columns: auto auto auto auto auto auto; */
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 30px;
}

.container-1 > div {
  background-color: #D72323;
  /* border: 1px solid ; */
  border-radius:15px ;
  color: black;
  margin: 5px 5px;
  padding: 10px;
  text-align: center;
  width: 70px;
  /* display: block; */
  
}

.container-1 > div:hover{
    transition: transform .2s;
    transform: scale(1.1);
}

.container-2 {
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto auto auto ;
  padding: 10px;
  padding-bottom: 30px;
}
.container-2 > div {
  background-color: #D72323;
  /*border: 1px solid ;*/
  border-radius:15px ;
  /*color: white;*/
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.container-2 > div:hover{
    transition: transform .2s;
    transform: scale(1.05);

}

button{
    background: #3E3636;
    /* background: linear-gradient(144deg,rgba(1, 51, 74, 1) 13%, rgba(40, 153, 181, 1) 86%); */
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50px;

    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover{
    background:#D72323;
    border: 1px solid;
}
input{
    display: block;
    width: 350px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px auto;
    
}

textarea{
    display: block;
    width: 350px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px auto;
    resize: none;
}

textarea::placeholder{
    color: gray;
    padding: 5px;

}

input[type=submit]{
    display: block;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    margin: 10px auto;
    background: #D72323;
    /* background: linear-gradient(144deg,rgba(1, 51, 74, 1) 13%, rgba(40, 153, 181, 1) 86%); */
    color: white;
}

.con{
  width: 45%;
  text-align: center;
}

form{
  width: 100%;
  align-items: center;
  justify-content: center;

}
/* form *{
  margin: auto;
} */

footer{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: black;
    border-top: 2px solid #3E3636;
    margin-top: 15px;
    box-shadow: 0 0 40px;
 
}

/* footer h3{
  margin: auto;
} */

h1,h2,h3,h5{
    color: #D72323;
}

p{
    color: #3E3636;
}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #D72323;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #F5EDED;
  border: 4px solid #3E3636;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -80px;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #D72323;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D72323 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #F5EDED;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 70%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
  .left{
    left: 0%;
  }
}




@media only screen and (max-width: 600px) {

  .sec{
    width: 90%;
  }
  nav h1{
    font-size: 18px;
  }
  li{
    padding: 0 7px;
  }
  /* .container-1 {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto auto ;
  } */
#futdev{
  width: 80%;
  }
.container-2{
  grid-template-columns: auto auto;
}
a{
  font-size: 12px;
}
#contact textarea,input{
  width: 90%;
  
}

}